/* Reset margins, paddings, and ensure full height */
@font-face {
  font-family: "GT America Regular";
  src: url("/sex_toys/anal_beads/css/GT-America-Regular.otf") format("opentype");
}

*,
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* filter: url("#gooey"); */
}
body {
  background-color: #f2eedf;
}

h1 {
  position: absolute;
  color: black;
  top: 0px;
  left: 0px;
  font-size: 300px;
}

/* Center the #canvases div perfectly in the middle of the window */

/* Both canvases will stack on top of each other */
#p5js-canvas,
#particles-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

/* Gooey effect applied to the particles canvas */
#particles-canvas canvas {
  filter: url("#gooey");

  /* transform: translate3d(0, 0, 0); */
}

.infoBubble {
  position: absolute;
  width: 220px;
  height: 220px;
  /* background-color: white; */
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */

  /* Start hidden by scaling it down */
  /* transform: scale(0); */
  /* transform-origin: center; Ensure scaling happens from the center */
  /* transition: transform 0.3s ease; Smooth scaling animation */
}

#infoCardDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* width: 0;
  height: 0; */
  overflow: hidden; /* Prevent content from showing while shrinking */
  top: 600px;
  left: 500px;
  /* background-color: #f2eedf; */

  border-radius: 10%;
  padding: 20px;
  /* opacity: 10%; */
  /* display: flex;  */
  /* margin: 10px; */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  /* display: none; */
  /* opacity: 0; */
  width: 220px;
  height: 220px;
}

#infoCard {
  /* justify-content: center; */
  /* height: 100%; */
  /* align-items: center; */
  text-align: left; /* Center text inside the card */
  color: #37010f;
  height: 100%;
  width: fit-content;
  border-radius: 15px;
  /* border: 1px solid #f4eddb; */
  /* height: fit-content; */
  /* opacity: 0%; */
  /* padding: 16px; Adds spacing inside the card */
  box-sizing: border-box; /* Includes padding in the width/height */
  position: relative; /* Necessary for the absolute button to be positioned relative to this card */
  padding: 20px;
  border-bottom: 0;
  /* padding-top: 25px; */
}

#textInfoCard {
  font-family: "GT America Regular";
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 14px; */
  font-size: 16px;
  /* color: #f2eedf; */
  /* padding-top: 15px; */
  user-select: none; /* Prevent text selection */

  /* top: -20px; */
  /* margin-bottom: 40px; Ensure space for the button */
}

#continueButton {
  /* position: absolute; */
  /* color: #f2eedf; */
  font-family: "GT America Regular";

  border-color: #f2eedf;
  border-style: solid;
  background-color: #37010f00;
  border-color: #37010f;
  /* border-width: 2px; */
  /* left: 53px; */
  /* align-self: center; */
  text-align: center;
  /* font-family: "Club Sexu_Regular"; */
  /* font-family: "Club Sexu_Regular"; */
  font-size: 16px;
  width: 100%;
  /* padding: 5px; */
  /* height: 20px; */
  /* color: #bc3006; */
  /* padding: 3px 18px; */
  /* padding-left: 18px; */
  /* padding-right: 18px; */
  /* width: 220px; */
  /* padding-top: 5px; */
  /* padding-bottom: 2px; */
  /* background-color: #37010f; */
  height: 35px;
  border-radius: 20px;
  border-width: 1px;
  /* letter-spacing: 0.02rem; */
  /* border: none; */
  /* height: 30px; */
  /* border-color: #7fbc06; */
}

#cardNumber {
  font-family: "GT America Regular";

  position: absolute;
  align-self: center;
  text-align: center;
  /* background-color: #37010f; */
  /* background-color: #c78a9a; */
  padding: 10px;
  /* top: 5px; */
  /* background-color: #ff4c1e; */
  /* font-family: "gtAmerica"; */
  /* padding: 2px 15px; */
  /* border-width: 1px; */
  /* align-self: center; Center the button horizontally */
  /* top: -20px; */
  /* text-align: center; */
  /* border-style: solid; */
  /* border-radius: 100%; */
  z-index: 1;
}

#cardNumberText {
  /* position: absolute; */
  font-size: 16px;
  /* display: flex; */
  color: #37010f;
  font-family: "GT America Regular";
  font-size: 16px;
  user-select: none; /* Prevent text selection */
  align-items: center;
}
