@font-face {
    font-family: 'Club Sexu_Regular';
    src:    url('Club_Sexu-Regular.eot');
    src:    url('Club_Sexu-Regular.eot?#iefix') format('embedded-opentype'),
            url('Club_Sexu-Regular.woff') format('woff'),
            url('Club_Sexu-Regular.woff2') format('woff2'),
            url('Club_Sexu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Club Sexu_Italic';
    src:    url('Club_Sexu-Italic.eot');
    src:    url('Club_Sexu-Italic.eot?#iefix') format('embedded-opentype'),
            url('Club_Sexu-Italic.woff') format('woff'),
            url('Club_Sexu-Italic.woff2') format('woff2'),
            url('Club_Sexu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
