@font-face {
  font-family: "GT America Regular";
  src: url("./GT-America-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GT America Medium Italic";
  src: url("./GT-America-Standard-Medium-Italic.woff2") format("woff2"),
    url("./GT-America-Standard-Medium-Italic.woff") format("woff"),
    url("./GT-America-Standard-Medium-Italic.ttf") format("truetype"),
    url("./GT-America-Standard-Medium-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "GT America Medium";
  src: url("./GT-America-Standard-Medium.woff2") format("woff2"),
    url("./GT-America-Standard-Medium.woff") format("woff"),
    url("./GT-America-Standard-Medium.ttf") format("truetype"),
    url("./GT-America-Standard-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Club Sexu_Regular";
  src: url("./Club_Sexu-Italic.eot");
  src: url("./Club_Sexu-Regular.eot") format("embedded-opentype"),
    url("./Club_Sexu-Regular.woff") format("woff"),
    url("./Club_Sexu-Regular.woff2") format("woff2"),
    url("./Club_Sexu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Club Sexu_Italic";
  src: url("Club_Sexu-Italic.eot");
  src: url("Club_Sexu-Italic.eot?#iefix") format("embedded-opentype"),
    url("Club_Sexu-Italic.woff") format("woff"),
    url("Club_Sexu-Italic.woff2") format("woff2"),
    url("Club_Sexu-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
html {
  margin: 0;
  padding: 0;
  /* cursor: grab; */
}

body {
  display: grid;
  /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  background-color: #f2eedf;
  /* Hide anything that goes off the window size */
}

#p5jsCanvas {
  position: relative;
}

canvas {
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}

.infoCardDiv {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden; /* Prevent content from showing while shrinking */
  top: 300px;
  left: 500px;
  background-color: #ff4c1e;
  border-radius: 7%;
  /* opacity: 10%; */
  /* display: flex;  */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  /* display: none; */
  transition: height 0.4s cubic-bezier(0, 0, 0.15, 1.01); /* Smooth size change */
}

.infoCardDiv.visible {
  display: flex;
  width: 240px; /* Full width of the card */
  height: 320px; /* Full height of the card */
}

.infoCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: left; /* Center text inside the card */
  color: white;
  height: 265px;
  width: 210px;
  border-radius: 7%;
  border: 1px solid #f2eedf90;
  opacity: 0%;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.15, 1.01);
  padding: 16px; /* Adds spacing inside the card */
  box-sizing: border-box; /* Includes padding in the width/height */
  position: relative; /* Necessary for the absolute button to be positioned relative to this card */
}

.infoCard.opacity {
  opacity: 100%;
}

.textInfoCard {
  font-family: "GT America Regular";
  font-size: 16px;
  color: #f2eedf;
  padding-top: 15px;
  user-select: none; /* Prevent text selection */

  /* top: -20px; */
  /* margin-bottom: 40px; Ensure space for the button */
}

.continueButton {
  position: absolute;
  bottom: -12px; /* Position the button at the bottom of the card */

  /* left: 53px; */
  align-self: center;
  text-align: center;
  font-family: "Club Sexu_Regular";
  /* font-family: "Club Sexu_Regular"; */
  font-size: 16px;
  color: #bc3006;
  /* padding: 3px 18px; */
  padding-left: 18px;
  padding-right: 18px;

  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 20px;
  background-color: #fff6f1;
  letter-spacing: 0.02rem;
  border: none;
  /* border-color: #7fbc06; */
}

.cardNumber {
  position: absolute;

  background-color: #ff4c1e;
  /* font-family: "gtAmerica"; */
  padding: 2px 15px;
  border-width: 1px;
  /* align-self: center; Center the button horizontally */
  top: -16px;
  text-align: center;
  /* border-style: solid; */
  border-radius: 100%;
  /* z-index: 1; */
}

.cardNumberText {
  color: #f2eedf;
  font-family: "Club Sexu_Regular";
  font-size: 25px;
}
